
<form action="/restaurants/create" method="POST" class="login-form">
    <div class="input-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
    </div>
    <button type="submit">Create</button>
</form>

