
<form action="{{#if restaurant}}/restaurants/{{restaurant.id}}/edit{{else}}/restaurants/create{{/if}}" method="POST" class="login-form">
    <div class="input-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required
            {{#if restaurant}}value="{{restaurant.name}}"{{/if}}
        >
    </div>
    <button type="submit">{{#if restaurant}}Edit{{else}}Create{{/if}}</button>
</form>

