<div class="user-card">
    <p>Username: <strong>{{this.name}}</strong></p>
    <p>email: <strong>{{this.email}}</strong></p>
    <p>Role: <strong>{{this.role}}</strong></p>
    <p>Created at: {{formatDate this.createdAt}}</p>
</div>