<div class="user-card">
    <p>Username: <span>{{this.name}}</span></p>
    <p>email: <span>{{this.email}}</span></p>
    <p>Role: <span>{{this.role}}</span></p>
    <p>Created at: <span>{{formatDate this.createdAt}}</span></p>
</div>