:root {
  --btn-gold: #d89f1b;
  --gray-primary: rgba(150, 147, 137, 0.9);
  --light-yellow: #e4cd63;
}

body {
    background-image: url('./images/foodbg.png');
    /* background-attachment: fixed;   */
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Tahoma, sans-serif;
    height: 100%;
}

h1 {
    color: #fff;
    text-align: center;
}

a {
  text-decoration: none;
  color: #d2b63b;;
}

nav {
    display: flex;
    justify-content: space-between;
    font-size: 1.125rem;
    font-weight: bold;
    min-height: 50px;
    align-items: center;
    padding: 0 30px;
    border-radius: 0 0 8px 8px;
    background-color: rgba(0, 0, 0, 0.6  );
}
nav ul {
    display: flex;
    gap: 15px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul > li {
  border-bottom: 1px solid  transparent
}
nav a {
  color: var(--light-yellow);
  text-decoration: none; 
}
nav a:hover {
  color: var(--btn-gold);
}
nav li:hover {
  border-bottom: 1px solid var(--btn-gold);
}
#user-info {
    display: flex;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid  transparent
}
#user-info a:hover {
  border-bottom: 1px solid var(--btn-gold);
}
#user-info > span {
    color: var(--light-yellow);
    font-weight: bold;
}
#user-info > #user {
    color: #98c2f1;
    font-weight: bold;
}

.body-container {
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
    box-sizing: border-box;
}
.body-content {
    border: 2px solid rgb(218, 177, 41);
    background-color: rgba(0, 0, 0, 0.7  );
    /* flex: 1;  */
    box-sizing: border-box;
    padding: 30px;
    border-radius: 10px;
    height: 100%;
}

#create-menu {
  text-align: center;
}

/* --- buttons ---------------------------------------------- */
.create-btn {
  background-color: #40474f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  margin: 0 auto;
  display: block;
  width: fit-content;
}
.create-btn:hover {
  background-color: var(--btn-gold);
  color: black;
  opacity: 0.8;
}
#edt-btn {
  width: 80px;
}
.delete-btn {
  background-color: #b33a3a;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
}
.delete-btn:hover {
  color: black;
  opacity: 0.8;
  font-weight: bold;
}
.cancel-delete-btn {
  background-color: #80e485;
  color: white;
  border: none;
  padding: 7px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
  width: 65px;
}
.cancel-delete-btn:hover {
  color: black;
  opacity: 0.8;
  font-weight: bold;
}
/* --- buttons ---------------------------------------------- */


.items-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 15px 0;
}

.form-menu-day{
  margin: 0 auto;
}
.form-menu-day input[type="text"] {
  padding: 5px 15px;
  border-radius: 25px;
  background-color: rgba(182, 169, 113, 0.3);
  color: white;
  border: 1px solid white;
}
.form-menu-day input[type="text"]:focus {
  border: 1px solid var(--btn-gold);  
  outline: none;   
}

.form-menu-day > a {
  border: 1px solid transparent;
  border-radius: 25px;
  width: 162px;
  background-color: rgba(150, 147, 137, 0.3);
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 5px 15px;
}
.form-menu-day > a:hover {
  border: 1px solid var(--btn-gold);
}

.menus-wrapper {
  padding: 20px 0px;
  display: flex;
  justify-content: start;
  gap : 20px;
}
.menus {
  cursor: pointer;
  background-color: var(--gray-primary);
  border-radius: 10px;
  border: 1px solid transparent;
}
.menus > a {
  display: inline-block;
  padding: 15px 15px;
}
.menus h4 {
  margin: 0;
}
.menus:hover {
  border: 1px solid var(--btn-gold);
  background-color: rgba(131, 128, 120, 0.9);
}

.day-menu {
  display: block;
  margin:auto;
  width: 400px;
  color: white;
  /* background-color: rgba(0, 0, 0, 0.6  ); */
  padding: 15px;
  border-radius: 19px;
  min-height: 50vh;
  /* box-shadow: 0 8px 16px #161718; */
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 25px;
  font-size: 14px;
} 
.login-form button {
  background-color: #40474f;
  color: white;
  border: 1px solid white;
  padding: 12px 10px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
}
.login-form button:hover {
  background-color: #40474f;
  opacity: 0.8;
} 
.error {
  text-align: center;
  font-weight: bold;
  color: red;
  font-size: 20px;
  margin: 20px auto;
}
.input-group {
  display: flex;
  align-items: center;        
  width: calc(100% - 20px); 
  background: white;
  border-radius: 25px;
  padding: 5px 10px;
  gap: 10px;  
  margin-bottom: 20px;                
}

.input-group i {
  color: #d9c787;
  font-size: 16px;
  padding-left: 10px;
}
.input-group input {
  border: none;
  padding: 10px;
  width: 100%;
  outline: none;              
  border-radius: 15px;
}
.input-group > select {
  border: none;
  padding: 10px;
  margin: 0 auto;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
}

.input-group > select > option {
  text-align: center;
  letter-spacing: 2px;
}
.input-group > select:focus {
  outline: none;
}

.profile-container h2 {
  text-align: center;
  font-size: 1.75rem;
  margin: 10px 0 120px 0;
}
.profile-pic {
  background-position: center ;
  background-color: var(--light-yellow);
  width: 150px;
  border-radius: 100%;
  padding: 20px;
  margin: 0 auto;
  overflow: hidden;
  transform: translate(0, -50%);
  border: 2px solid var(--btn-gold);
}
.profile-pic img {
  width: 100%;  
  height: auto;
}
.profile-content {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-primary);
  min-height: 40vh;
  border-radius: 15px;
  /* padding: 20px; */
  border: 2px solid var(--btn-gold);
}
.profile-container h4:first-child {
  margin-top: 100px;
}
.profile-container h4 {
  color: var(--light-yellow) !important;
  text-align: center;
}
.users {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 10px;
  padding: 20px;
  /* background-color: var(--gray-primary); */
  border-radius: 15px;
  max-height: 80%;
}
.user-card {
  width: 200px;
  height: 180px;
  padding: 15px;
  border-radius: 10px;
  color: white;
  background-color: var(--gray-primary);
  border: 1px solid transparent;
}
.user-card:hover {
  border: 1px solid var(--btn-gold);
  background-color: rgba(131, 128, 120, 0.9);
}
.user-card span {
  font-weight: bold;
  color: var(--light-yellow);
}

.restaurants-container {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 10px;
  padding: 20px;
  border-radius: 15px;
  max-height: 80%;
}
.restaurant-card {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 180px;
  padding: 15px;
  border-radius: 10px;
  color: white;
  background-color: var(--gray-primary);
  border: 1px solid transparent;
}
.restaurant-card:hover {
  border: 1px solid var(--btn-gold);
  background-color: rgba(131, 128, 120, 0.9);
  cursor: pointer;
}
.restaurant-card > p {
  font-size: 12px;
  margin-top: auto;
}

.delete-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
  border-radius: 15px;
  width: 300px;
  height: 200px;
  background-color: rgba(187, 187, 84, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
}
.delete-modal-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.delete-modal-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}