body {
    /* background-color: #7ec0d8; */
    background-image: url('./images/foodbg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    color: #fff;
    text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}

body a:hover {
  color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    color:beige;
    font-size: 1.2rem;
    font-weight: bold;
    min-height: 50px;
    align-items: center;
    padding: 0 30px;
    border-radius: 0 0 8px 8px;
    background-color: rgb(0, 0, 0, 0.3);
}
nav ul {
    display: flex;
    gap: 15px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav a {
  color: white;
  text-decoration: none; 
}
nav a:hover {
  color:#9acfe3;
}
#user-info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.body-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
    box-sizing: border-box;
}
.body-content {
    border: 2px solid white;
    flex: 1; 
    box-sizing: border-box;
    padding: 30px;
    border-radius: 10px;
}

#user {
  color:#ddbe24;
}

#create-menu {
  text-align: center;
}

.create-btn {
  background-color: #40474f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  margin: 0 auto;
  display: block;
}
.create-btn:hover {
  background-color: #40474f;
  opacity: 0.8;
}
#edt-btn {
  width: 80px;
}

.items-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 15px 0;
}
.items-list a:hover {
  color: #9acfe3;
}
.form-menu-day{
  margin: 0 auto;
}
.form-menu-day input[type="text"]  {
  padding: 5px 15px;
  border-radius: 25px;
  background-color: rgba(182, 169, 113, 0.3);
  color: white;
  border: 1px solid white;
}
.form-menu-day > div {
  padding: 5px 15px;
  border-radius: 25px;
  width: 162px;
  background-color: rgba(150, 147, 137, 0.3);
  color: white;
}

.menus-wrapper {
  padding: 20px 0px;
  display: flex;
  justify-content: start;
  gap : 20px;
}
.menus {
  cursor: pointer;
  background-color: rgba(150, 147, 137, 0.9);
  border-radius: 10px;
  padding: 15px 15px;
  border: 1px solid transparent;
}
.menus h4 {
  margin: 0;
}
.menus:hover {
  border: 1px solid white;
  background-color: rgba(131, 128, 120, 0.9);
}

.day-menu {
  display: block;
  margin:auto;
  width: 400px;
  color: white;
  background-color: rgba(0, 0, 0, 0.3  );
  padding: 15px;
  border-radius: 19px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 25px;
  font-size: 14px;
} 

.login-form button {
  background-color: #40474f;
  color: white;
  border: 1px solid white;
  padding: 12px 10px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
}

.login-form button:hover {
  background-color: #40474f;
  opacity: 0.8;
} 

.error {
  text-align: center;
  font-weight: bold;
  color: red;
  font-size: 20px;
}

.input-group {
  display: flex;
  align-items: center;        
  width: calc(100% - 20px); 
  background: white;
  border-radius: 25px;
  padding: 5px 10px;
  gap: 10px;  
  margin-bottom: 20px;                
}

.input-group i {
  color: #d9c787;
  font-size: 16px;
  padding-left: 10px;
}

.input-group input {
  border: none;
  padding: 10px;
  width: 100%;
  outline: none;              /* Remove blue border on focus */
  border-radius: 15px;
}