 
<h1>{{message}}</h1>

<form action="create-menu" method="POST" id="create-menu-form">
    <button type="button" onclick="addMenuRow()">Add days</button>
    <div class="form-menu-title">
        <label for="menu-title">Menu for</label>
        <input type="text" id="menu-title" name="menuTitle" required>   
    </div>
    
    <div id="additional-fields-container">
    </div>

    <button type="submit">Create</button>
</form>

{{>script}}
