<h1>{{title}}</h1>

<div class="day-menu">
    <h2>Основно меню за деня:</h2>
    <p>- Кюфтета с картофено пюре</p>

    <h2>Десерт:</h2>
    <p>- Ябълков сладкиш</p>
</div> 
                            
