<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    {{> nav}}
    
    <h1>{{message}}</h1>

    <form action="/menus/create-menu" method="GET">
        <button type="submit">Create Menu</button>
    </form>


    <div>
        <ul>
            {{#each menus}}
                <h2>{{this.menuTitle}}</h2>
                <ul>
                    {{#each this.days}}
                        <li>{{this}}</li>
                    {{/each}}
                </ul>
            {{/each}}
    </div>
</body>

</html>