
<h1>{{message}}</h1>


{{#if (eq currentUser.role "owner")}}
    <form id="create-menu" action="/menus/create-menu" method="GET">
        <button class="create-btn" type="submit">Create Menu</button>
    </form>
{{/if}}

<div> 
    <div class="menus-wrapper">
        {{#each menus}}
        <div class="menus">
            <a href="/menus/{{this.menuTitle}}">
                <h4>{{this.menuTitle}}</h4>
            </a>
        </div>
        {{/each}}
    </div>   
</div>

