
<h1>{{message}}</h1>


{{#if (eq currentUser.role "owner")}}
    <form id="create-menu" action="/menus/create-menu" method="GET">
        <button class="create-btn" type="submit">Create Menu</button>
    </form>
{{/if}}

<div>
    <ul>
        {{#each menus}}
            <a href="/menus/{{this.menuTitle}}">
                <h2>{{this.menuTitle}}</h2>
            </a>
        {{/each}}
    </ul>
</div>

