<div class="day-menu">
    <div class="profile-container">
        <h2 style="color: white">Profile</h2>
        <div class="profile-pic">
            <img src="/images/anonymous-4.png" alt="anonymous-user">
        </div>      
        <div class="profile-content">
            <h4 style="color: white">Name: {{currentUser.username}}</h4>
        </div>
    </div>
</div>


