<h1>{{restaurant.name}}</h1>

<li><a href="/menus" class="create-btn">Weekly menus</a></li> 

<div class="restaurant-pic-wrapper">
    <img src={{restaurant.image}} alt="default-restaurant-image">
</div>