
<h1>{{message}}</h1>

<a href="/restaurants/create" class="create-btn">Create Restaurant</a>

<div class="search-bar">
    <form action="/restaurants/search" method="GET">
        <input type="text" name="q" placeholder="Search restaurants..." value="{{searchQuery}}">
        <button type="submit">Search</button>
    </form>
</div>

<div class="favorites">
    <i class="fa-regular fa-heart"></i>
</div>

{{#if error}}
  <div class="error">
    {{error}}
  </div>
{{/if}}

<div class="restaurants-container">
    {{#each restaurants}}
        {{> restaurant-card}}
    {{/each}}
    {{> delete-modal}}
</div>

{{>script}}