

<h1>{{message}}</h1>

{{#if error}}
    <p class="error" style="color: red;">{{error}}</p>
{{/if}}

<form action="/auth/login" method="POST" class="login-form">
    <div class="input-group">
        <i class="fa-solid fa-user"></i>
        <input type="text" id="username" name="username" placeholder="username" >
    </div>
    <div class="input-group">
        <i class="fa-solid fa-lock"></i>
        <input type="password" id="password" name="password" placeholder="Password">
    </div>
    <button type="submit">Login</button>
</form>

<p id="register-link">Don't have an account? <a href="/auth/register">Register here</a></p>

