
<h1>{{message}}</h1>

<form action="/auth/register" method="POST" class="login-form">
    <div class="input-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div class="input-group">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
    </div>
    <div class="input-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div class="input-group">
        <label for="role">Role:</label>
        <select id="role" name="role" required>
            <option value="user" selected>User</option>
            <option value="owner">Owner</option>
        </select>
    </div>
    <button type="submit">Register</button>
</form>

